<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Best Sellers</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 d-flex flex-row">
                    <div>
                        <a href="../../assets/img/burger.jpg" target="_blank">
                            <img class="card-img-top" src="../../assets/img/burger.jpg" alt="Burger" style="width: 150px; height: 150px;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Burger</h4>
                        <p class="card-text">A burger is a sandwich consisting of one or more cooked patties of ground meat, usually beef, placed inside a sliced bread roll or bun. The patty may be pan-fried, grilled, smoked, or flame-broiled.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 d-flex flex-row">
                    <div>
                        <a href="../../assets/img/cake.jpg" target="_blank">
                            <img class="card-img-top" src="../../assets/img/cake.jpg" alt="Cake" style="width: 150px; height: 150px;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Cake</h4>
                        <p class="card-text">Cake is a form of sweet food made from flour, sugar, and other ingredients, that is usually baked. The most commonly used cake ingredients include flour, sugar, eggs, butter or oil or margarine, a liquid, and leavening agents, such as baking soda or baking powder.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 d-flex flex-row">
                    <div>
                        <a href="../../assets/img/pizza.jpg" target="_blank">
                            <img class="card-img-top" src="../../assets/img/pizza.jpg" alt="Pizza" style="width: 150px; height: 150px;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Pizza</h4>
                        <p class="card-text">Pizza is an Italian dish consisting of a usually round, flattened base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients, which is then baked at a high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="card h-100 d-flex flex-row">
                    <div>
                        <a href="../../assets/img/pasta.jpg" target="_blank">
                            <img class="card-img-top" src="../../assets/img/pasta.jpg" alt="Pasta" style="width: 150px; height: 150px;">
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Pasta</h4>
                        <p class="card-text">Pasta is a type of food typically made from an unleavened dough of wheat flour mixed with water or eggs, and formed into sheets or other shapes, then cooked by boiling or baking.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
